---
layout: handbook-page-toc
title: "Create:Editor Backend Onboarding"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

[team]:/handbook/engineering/development/dev/create-editor-be
[career]: /handbook/engineering/development/dev/create-editor-be/career-development
[editor_issues]: https://gitlab.com/gitlab-org/gitlab/issues?scope=all&utf8=✓&state=opened&label_name[]=group%3A%3Aeditor&label_name[]=backend
[bugs]: https://gitlab.com/gitlab-org/gitlab/issues?scope=all&utf8=✓&state=opened&label_name[]=group%3A%3Aeditor&label_name[]=backend&label_name[]=bug
[release]: https://gitlab.com/gitlab-org/gitlab/issues?scope=all&utf8=✓&state=opened&label_name[]=group%3A%3Aeditor&label_name[]=backend&milestone_title=%23started
[backlog]: https://gitlab.com/gitlab-org/gitlab/issues?scope=all&utf8=✓&state=opened&label_name[]=group%3A%3Aeditor&label_name[]=backend&milestone_title=Backlog
[team_be_board]: https://gitlab.com/groups/gitlab-org/-/boards/1143526?&label_name[]=backend&label_name[]=group%3A%3Aeditor
[release_board]: https://gitlab.com/groups/gitlab-org/-/boards/1131977?&label_name[]=group%3A%3Aeditor
[editor_be_board]: https://gitlab.com/groups/gitlab-org/-/boards/1124134?&label_name[]=Deliverable&label_name[]=backend&label_name[]=group%3A%3Aeditor
[milestone_board]: https://gitlab.com/groups/gitlab-org/-/boards/1131974?&label_name[]=group%3A%3Aeditor
[ux_board]: https://gitlab.com/groups/gitlab-org/-/boards/1124143?&label_name[]=Deliverable&label_name[]=UX&label_name[]=group%3A%3Aeditor
[editor_fe_board]: https://gitlab.com/groups/gitlab-org/-/boards/1124142?&label_name[]=Deliverable&label_name[]=frontend&label_name[]=group%3A%3Aeditor
[web_ide]: /handbook/engineering/development/dev/create-editor-be/#web-ide
[snippets]: /handbook/engineering/development/dev/create-editor-be/#snippets

<%= partial("handbook/engineering/development/dev/create/onboarding.erb", locals: { group: "Editor"}) %>

## Try our Products
1. Create a handbook change using the [Web IDE][web_ide].
2. Create a [Personal Snippet][snippets].

## Learn more about our Issues
- [Backend Editor Issues in the current release][release]
- [Editor Issues with bugs][bugs]
- [Editor Issues in Backlog][backlog] 
- [All Backend Editor Issues][editor_issues]

## View our Issue Boards
- [Editor Backend Engineer Issue Board][editor_be_board]
- [Editor Backend Engineering Team Issue Board][team_be_board]
- [Editor Release Issue Board][release_board]
- [Editor Milestones Issue Board][milestone_board]
- [Editor Frontend Engineer Issue Board][editor_fe_board]
- [Editor UX Issue Board][ux_board]

## Relevant Links
<%= partial("handbook/engineering/development/dev/create/onboarding_links.erb") %>
